// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
（省略）

table th {
  
  padding: 10px 20px;
}

table td {
  background-color:pink;
  padding: 10px 20px;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}